.container {
    
}

body {
background-color: rgb(215, 233, 232);
}

h1 {
    font-size: 40px;
}

.question-window {
   display: flex;
   justify-content: center;
   border: 3px solid black;
   margin: 30px;
   padding: 15px;
   background-color: rgb(80, 168, 168);
}

.starting-message >* {
    text-align: center;
}

#startBtn {
    height:30px;
    width: 100%;
}
#startBtn:hover {
    background-color: bisque;
}